<ion-modal-view>
  <ion-view view-title="Messages"> 
  <ion-content >
  <h1 style="text-align: center;">Registration</h1><br/>
   <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="registration" ng-submit="vm.doRegister()" role="registration">
      <div class="list">
        <div class="form-group" ng-class="{ 'has-error': form.fullname.$dirty && form.fullname.$error.required }">
			<label class="item item-input">
			<i class="ion-android-person"> </i>
    <span class="input-label">Full Name</span>
          <input type="text"name="fullname" id="fullname"  ng-model="vm.user.fullname" required />
          <span ng-show="registration.fullname.$dirty && registration.fullname.$error.required" class="help-block">Full Name is required</span>
          </div>
        </label>
		<label class="item item-input item-select" >
		<div class="input-label">
      Country Code
    </div>
    <select>
      <option>America</option>
      <option >India</option>
      <option>China</option>
    </select>
	</label>
   <div class="form-group" ng-class="{ 'has-error': form.mobile.$dirty && form.mobile.$error.required }">
	<label class="item item-input">
	<i class="icon ion-iphone "></i>
          <span class="input-label" >Mobile</span>
          <input type="text" min="10" max="12" pattern="[0-9]*" name="mobile" id="mobile"  ng-model="vm.user.mobile" required/>
          <span ng-show="registration.mobile.$dirty && registration.mobile.$error.required" class="help-block">Mobile.No is required</span>
          </div>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="registration.$invalid || vm.dataLoading" class="btn btn-primary" type="submit">Create Account</button>
        </label>
      </div>
    </form>
  <ion-content>
</ion-modal-view>
